.container {
	display: grid;
	gap: var(--size-4);
	inline-size: fit-content;
	margin-block-start: 20vh;
	margin-inline: auto;
	text-align: center;
}

.header {
	inset-block-start: -200vh;
	position: absolute;
}

.body {
	aspect-ratio: var(--ratio-golden);
	background: light-dark(var(--stone-2), var(--gray-12)) no-repeat center /
		cover;
	block-size: 40vh;
	border-radius: var(--radius-drawn-1);
	/* biome-ignore format: true */
	box-shadow:
		0 0 80px -40px hsl(from var(--gray-12) h s l / 20%)
		/* inset 100vw 0 tomato,  */
		/* var(--shadow-1), */
		/* var(--shadow-5) */
	;
	display: grid;
	place-items: center;
}

.question {
	align-items: baseline;
	display: inline flex;
	font-size: var(--font-size-8);
	font-weight: var(--font-weight-8);
	gap: var(--size-3);
	margin-block: var(--size-7);

	input {
		background: none;
		inline-size: 4ch;
	}

	::-webkit-inner-spin-button {
		display: none;
	}
}

.footer {
}

.timer {
	margin-block-end: var(--size-4);
}

.button {
	animation: var(--animation-fade-in) forwards, var(--animation-slide-in-up);
	animation-timing-function: linear, var(--ease-spring-2);
	animation-duration: 0.3s, 0.6s;
	opacity: 0;
}

.confetti {
	inset: 0;
	position: fixed;
	z-index: -1;
}
